<%= form_with(model: @game, local: true) do |form| %>

  <%= render 'error' %>

  <p>
    <%= form.label :secretword %><br>
    <%= form.text_field :secretword %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
