<h1>Hangman</h1>

<%= render 'game_information' %>

<%= render 'game_result' %>

<%= link_to 'Edit', edit_game_path(@game) %>
<%= link_to 'Back', games_path %>

<p>
  <strong>Remove after testing:</strong>
  <%= @game.secret_word %>
</p>
