<h1>Hangman</h1>

<h2>Status</h2>

<p>
  <strong>Secret Word (remove after testing):</strong>
  <%= @game.secretword %>
</p>

<p>
  <strong>Word Length:</strong>
  <%= @game.secretword.length %>
</p>

<p>
  <strong>Remaining Lives:</strong>
  <%= @game.remaining_lives %>
</p>

<h2>Guesses</h2>
<p>
  <strong>Guess:</strong>
  <% @game.masked_letters.each do |letter| %>
    <% if letter %>
      <%= letter %>
    <% else %>
      <%= '_' %>
    <% end %>

  <% end %>
</p>

<h2>Make a Guess:</h2>
<%= form_with(model: [ @game, @game.guesses.build ], local: true) do |form| %>
  <p>
    <%= form.label :letter %><br>
    <%= form.text_field :letter %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_game_path(@game) %>
<%= link_to 'Back', games_path %>
